.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.kotak {
  width: 100px;
  height: 100px;
  background-color: red;
}

.translate {
  transform: translate(100px);
}

.scale {
  transform: scale(1);
}

.rotate {
  transform: rotate(45deg);
}

.skew {
  transform: skew(45deg);
}
