body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 1. Absolute Unit (px) */
h1,
h2,
p {
  font-size: 16px;
}

/* 2. Relative Unit */
p.text {
  font-size: 1rem;
}
/* 1em => 16 px, 1rem = html ? -> 1rem = 16px */

.kotak {
  background-color: red;
  /* Dynamic View Width */
  width: 100dvw;
  /* Dynamic View Height */
  height: 100dvh;
}
.kotak-kecil {
  background-color: yellow;
  width: 50%;
  height: 50%;
}
